BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AlignAfterOpenBracket: Align
IndentCaseLabels: false
SortIncludes: false
BinPackArguments: false
BinPackParameters: false
IndentWidth: 4
AccessModifierOffset: -4
