[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "thirdparty/EWS"]
	path = thirdparty/EWS
	url = https://github.com/hellerf/EmbeddableWebServer.git
