[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "thirdparty/catch2"]
	path = thirdparty/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/pybind"]
	path = thirdparty/pybind
	url = https://github.com/pybind/pybind11.git
